{% extends 'base.html' %}
{% block mystyle %}
<style>
        .box{
            width: 100%;
            height:100px;
            background: rgba(0, 0, 255,0.5);
            border-radius: 2%;
        }
        .pill{
            background: green;
            width:100%;
            height: 40px;
            line-height: 40px;
            border-radius: 25px;
            color:white;
            padding-left: 30%;
        }
        .photo{
            border-radius: 50%;
            height:90px;
            width:90px;
            border: 7px solid white; 
            position: relative; 
            top:-20px
        }
        .online{
            border-radius: 50%;
            height:70px;
            width: 70px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 0 auto;
        }
        .dot{
            background: rgb(11, 247, 11);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: -17px;
            left: 30px;
        }
        .circle{
            position: relative;
            height:100px;
            width:100px;
            top:-70px;
            right:-20px;
            border-radius: 50%;
            border:10px solid white;
            margin:0;
            /* background: red; */
        }
        .shot{
            width:100%;
            height:100px;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block mycode %}
{% load staticfiles %}
        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/>
            </div>
        </div>
        <div class="row ml-5">
            <div class="col-md-3" style="position: sticky;">
                <div class="row box">
                    <div class="col-md-5">
                            {% if profile.profile_pic %}
                            <img src="/media/{{profile.profile_pic}}" class="photo">
                            
                            {% else %}
                            <img src="/media/no_image.png" alt="" class="photo">
                            {% endif %}
                        <!-- <img src="/media/{{profile.profile_pic}}" alt="" class="photo"> -->
                    </div>
                    <div class="col-md-7">
                            <h5><a href="" class="text-white" >{{user.first_name}} {{user.last_name}}</a></h5>
                        <a href="" class="text-white" ><i class="ion ion-android-person-add"></i> {{fff}} followers</a>
                    </div>
                </div>
                <div><br/> <br/> <br/></div>
                <div class="row">
                    <div class="col-md-12" >
                        <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'project:time' %}" style="color:grey">Timeline</a> <hr/>
                        <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                        <a href="{% url 'project:friends' %}" style="color:grey">Friends</a> <hr/>
                        <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:messages' %}" style="color:grey">Messages</a> <hr/>
                        <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:basic' %}" style="color:grey">Settings</a> <hr/>
                        <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:logout' %}" style="color:grey">Logout</a> <hr/>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-1">
                        {% if profile.profile_pic %}
                        <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">
                        
                        {% else %}
                        <img src="/media/no_image.png" alt="" style="border-radius:50%; height:60px; width:60px;">
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <textarea cols="40" rows="2" class="form-control ml-2"></textarea>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-inline" type = none>
                            <li><a href=""><i class="far fa-edit text-dark ml-4 mt-4" style="float:left;"></i></a></li>
                            <li><a href=""><i class="far fa-images text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                            <li><a href=""><i class="fas fa-video text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                            <li><a href=""><i class="fas fa-map text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary text-white mt-2" style="border-radius:25px;width:100%;"><h6>Publish</h6></button>
                    </div>
                </div> 
                <hr>
                
                <div class="row">
                    {% for i in req %}
                    <div class="col-md-6 col-sm-6 col-6 "> 
                        {% if i.cover_pic %}
                        <img src="/media/{{i.cover_pic}}" class="shot">
                        {% else %}
                        <img src="/media/cover.jpg" alt="" class="shot">
                        {% endif %}  
                        <!-- <img src="/media/{{i.cover_pic}}" alt="" class="shot"> -->
                        {% if i.profile_pic %}
                        <img src="/media/{{i.profile_pic}}" class="circle">
                        {% else %}
                        <img src="/media/no_image.png" alt="" class="circle">
                        {% endif %}
                        <!-- <img src="/media/{{i.profile_pic}}" alt="" class="circle"> -->
                        <div class="row">
                            <div class="col-md-6" style="position:relative; top:-60px;">
                                <a href=""><h5>{{i.user.first_name}} {{i.user.last_name}}</h5></a>
                                <p class="text-muted">{{profile.profession}}</p>
                                <a href="{% url 'project:user_inbox'%}?id={{i.user.id}}">Message</a>

                            </div>
                            <div class="col-md-6" style="position:relative; top:-60px;">
                                <a href="" style="color:chartreuse; margin-left: 50%">My Friend</a>
                            </div>
                        </div>                       
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="col-md-2">
                <h6 class="pill mt-2">Chat Online</h6>
                <hr class="mt-4" />
                <div class="row">
                    <div class="col-md-6 mx-auto">
                    {% for i in onlines %}
                        <a href="{% url 'project:user_inbox'%}?id={{i.user.id}}">
                        {% if i.profile_pic %}
                        <img src="/media/{{i.profile_pic}}" alt="" class="online">
                        {% else %}
                        <img src="/media/no_image.png" alt="" class="online">
                        {% endif %}
                        <div class="dot m-0"></div>
                    </a>
                    {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
    </div>
    {% endblock %}