{% extends 'base.html' %}
{% block mystyle %}
<style>
        .back{
            background: url("{% if profile.cover_pic %}/media/{{profile.cover_pic}}{% else%}/media/cover.jpg{% endif %}");
            height:400px; 
            padding-top: 300px; 
            background-size:cover; 
            width:100%
        }
        .photo{
            height:200px; 
            width:200px; 
            border-radius:50%; 
            border: 10px solid white;
            position: relative;
            top: -90px;
        }
        .line{
            word-spacing:10px;
            line-height:70px;
        }
        .sidebar-circle{
            height:20px;width:20px;
            background:lightgreen;
            border-radius:50%; 
            margin:0 auto; 
            margin-top: 50px;
        }
        .sidebar-line{
            height:930px;
            width:2px;
            background:lightgreen;margin:0 auto
        }
        .a{
            display: inline;
        }
        .rg{
            background:rgba(0, 0, 0, 0.8);  
            height:70px; 
            text-align:center;
        }
        .buton{
            background: blue;
            border-radius:25px; 
            width:100%;
        }
        .smal{
            text-align: left;
            margin-left: 50px;
        }
        .publish{
            border-radius:25px;
            width:100%;
            position: relative;            
        }
        .len{
            width:100%;
            position: relative;
            top:0px;
        }
        .play{
            display: none !important;
        }
        .playbt{
            display: none !important;
        }
        @media screen and (max-width:700px){
            .sidebar-circle{
                background:red;
                display:none !important;
            }
            .a{
                display: none !important;
            }
            .sidebar-line{
            display:none !important;
            }
            .rg{
                background:transparent;
            }
            .buton{
                background:transparent;
            } 
            .smal{
                text-align: center;
                margin-left: 0px;
            }
            .publish{
                width:50%;
                top:-40px;
                float: right;
            }
            .len{
                width:70%;
                top:-60px;
                float: right;
                margin-right:10px;
            }
            .play{
                display: inline !important;
                margin-left: 100px;
                word-spacing: 15px;
            }
            .playbt{
                display: inline !important;
                margin-left: 20%;
                border-radius: 25px;
            }
        }
    </style>
{% endblock %}

{% block timeline %}
{% load staticfiles %}
    <div class="container">
        <div class="row back">
            <div class="col-md-12 rg">
                <div class="row">
                    <div class="col-md-3">
                        {% if profile.profile_pic %}
                        <img src="/media/{{profile.profile_pic}}" class="photo">
                        
                        {% else %}
                        <img src="/media/no_image.png" alt="" class="photo">
                        {% endif %}
                    </div>
                    <div class="col-md-4 line">
                        <a href="{% url 'project:time' %}" style="color:white;" class="a">Timeline</a>
                        <a href="{% url 'project:abo' %}" style="color:white;" class="a">About</a>
                        <a href="{% url 'project:alb' %}" style="color:white;" class="a">Album</a>
                        <a href="{% url 'project:friend' %}" style="color:white;" class="a">Friends</a>
                    </div>
                    <div class="col-md-3">
                        <!-- <p style="color:white;line-height: 70px; margin-left: 50px;" class="a">{{fff}} followers</p> -->
                    </div>
                    <!-- <div class="col-md-2" style="line-height: 70px;">
                        <button class="btn btn-primary text-white m-0 a"><h6>Add Friend</h6></button>                        
                    </div>                   -->
                </div>
            </div>

            <!-- copied -->

            <div class="col-sm-12 col-12 small" style="display:none">
                <img src="/media/{{profile.profile_pic}}" class="photo">                
            </div>

            <!-- end -->

        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-primary smal">{{user.first_name}} {{user.last_name}}</h4>
                <p class="text-muted smal">{{profile.profession}}</p>
                <div class="play">
                    <a href="{% url 'project:time' %}" style="color:blue;" >Timeline</a>
                    <a href="{% url 'project:abo' %}" style="color:black;" >About</a>
                    <a href="{% url 'project:alb' %}" style="color:black;" ">Album</a>
                    <a href="{% url 'project:friend' %}" style="color:black;" >Friends</a>
                </div>
                <!-- <div style="line-height: 70px;" class="playbt">
                    <button class="btn btn-primary text-white mb-5 mt-3 playbt"><h6>Add Friend</h6></button>                        
                </div> -->
                <div class="row mt-5">
                    <div class="col-md-12">
                        <ul type="none">
                            <li class="my-2"> <a href="{% url 'project:basic' %}" style="color:black"><i class="fas fa-info-circle m-2"></i><span>Basic Infomation</span></a></li><hr>
                            <li class="my-2"> <a href="{% url 'project:education' %}" style="color:black"><i class="fas fa-briefcase m-2"></i><span>Education and Work</span> </a></li><hr>
                            <li class="my-2"> <a href="{% url 'project:interest' %}" style="color:black"><i class="fas fa-heart m-2"></i><span>My Interests</span></a></li><hr>
                            <!-- <li class="my-2" style="border-left:2px solid lightgreen; "> <a href="{% url 'project:account' %}" style="color:black"><i class="fas fa-sliders-h m-2"></i><span>Account Settings</span></a></li><hr> -->
                            <li class="my-2"> <a href="{% url 'project:password' %}" style="color:black"><i class="fas fa-lock m-2"></i><span>Change Password</span> </a></li><hr>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <i class="fas fa-sliders-h m-2 text-info" style="font-size:20px;"></i><span class="m-2" style="font-size:20px;">Account Settings</span> <hr>
                <p class="text-muted">Manage your account here!! Make account settings to make account private and secured.</p> <hr>
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-muted">Enable Follow me</p>
                        Enable this if you want people to follow you
                    </div>
                    <div class="col-md-2"><br>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-muted">Send me notifications</p>
                        Send me notification emails my friends like, share or message me
                    </div>
                    <div class="col-md-2"><br>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-muted">Text Messages</p>
                        Send me messages to my cell phone
                    </div>
                    <div class="col-md-2"><br>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-muted">Enable Tagging</p>
                        Enable my friends to tag me on their posts
                    </div>
                    <div class="col-md-2"><br>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div><hr>
                
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-muted">Enable Sound</p>
                        You'll hear notification sound when someone sends you a private message
                    </div>
                    <div class="col-md-2"><br>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div><hr>
            </div>
            <div class="col-md-2" >
                <p class="text-muted" >{{user.first_name}} {{user.last_name}} Activity</p>
                {% for i in act %}
                <!-- <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >{{i.user.user.first_name}}</a></p> -->
                <p class="text-muted" style="border-left:2px solid green;">{{i.content}}</p>
                <p class="text-muted">{{i.time}}</p>
                <hr/>
                {% endfor %}
            </div> 
        </div>
    </div>
    {% endblock %}
    